* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: block;
}

canvas {
    display: block;
}

.game-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
