* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #282228;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #282228;
    opacity: 0;
}

canvas.loaded {
    opacity: 1;
    transition: 3000ms;
    background-image: linear-gradient(#f05323, #f8ee55);
}

.game-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    width: 50vmin;
    fill: #282228 !important;
}
.logo path {
    fill: #282228 !important;
}
