.portfolio {
    &--item {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        background-size: cover;
        background-position: center;
        color: #ffffff;
        height: 100vw;
        max-height: 100vh;
        font-size: 10rem;
        text-transform: uppercase;
        font-weight: bold;
        &:nth-child(odd) {
            background-color: transparent;
        }
        &__smash-rockets {
            background-image: url('../assets/bg-smashrockets.jpg');
        }
        &__tunk {
            background-image: url('../assets/bg-tunk.jpg');
        }
        &__re-entry {
            background-image: url('../assets/bg-reentry.jpg');
        }
    }
}

.portfolio-piece .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
